body {
	font-family: 'Questrial',sans-serif;
	padding: 0px;
	margin: 0px;
	background: url("/images/bg.png") repeat-y scroll center top #0A0F19;
}

html {
       overflow-y: scroll;
}

p {
	margin:0;
	padding:0;
}

html {
	overflow-y: scroll;
}
img {
    border-style: none
}

#rediculousTable{
	width:600px;
}

.page-wrap{
    background: none repeat scroll 0 0 #95AE3D;
    margin: 0 auto;
    overflow: hidden;
    padding: 9px 20px;
    position: relative;
    width: 1000px;
}

#section-head{
	overflow:hidden;
    position: relative;
    z-index: 99999;    
}

#green-buffer{
	background: #95AE3D;
	float:right;
}

.encapsulate{
    width: 1000px;
    /*height:500px;*/
    background: #95AE3D;
}

#brand{
	width:170px;
	padding-left:6px;
	padding-bottom: 10px;
}

#teal{
	background:#649197;
	height:5px;
}

#black-brand-img{
	background:#000;
	color:#fff;
	background:url('/images/co110Wide.png') 32px 4px #000; 
	background-repeat:no-repeat;
	padding-left:20px;
	height:24px;
}

#nav-side{
	float:left;
	letter-spacing:0.05em;
	font-size: 14px;
	width:180px;
	background: #95AE3D;
}

#menu{
	font-family: 'Questrial', sans-serif;
    letter-spacing:0.1em;
	font-size: 14px;
	line-height:30px;
	color:#fff;
	list-style:none outside none;
    padding-bottom:50px;
}

#menu li a{
	text-decoration: none;
	color:#fff;
}

#menu li.highlighted{
	background-color:#9b9;
}


ul.infoz {
	margin-left: 0;
	font-size: 12px;
	padding-left: 1.5em;
	list-style:none outside none;
}



#content{
	padding-left: 10px;
	padding-bottom: 20px;
	background:#fff;
	width:770px; /*700px;*/
	min-height:500px;
	float:left;
	font-size:14px;
}


.page-wrap #section-head .encapsulate #nav-side #menu li {
	font-size: 14px;
}

#shadow {
    display: block;
    position: relative;
    /* top: 5px;
    left: 5px; */
     width: 1px; /* match target width */
     height: 1px; /* match target height */
    /*z-index: 0; */
    background: #000;
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='15', MakeShadow='true', ShadowOpacity='0.40');
}

#right-wrap {
	float:right;
	width:160px;
	margin-top:25px;
	margin-right:7px;
	padding-top: 0;
    padding-right: 0;
	box-shadow:				0 0 5px #000;
	-o-box-shadow:			0 0 5px #000;
	-moz-box-shadow:		0 0 5px #000;
	-webkit-box-shadow:	0 0 5px #000;
}

#news-blasts {
    font: 14px Georgia,serif;
}

#news-blast {
	padding:15px;
	text-align:left; 
	background:#eeeeff;
}

#news-blasts p {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
}
#news-blasts p {
}
#nb-headline {
    margin: 4px 0 0;
    line-height: 15px;
}
#nb-date {
    /*color: #92CAE4;*/
    margin: 12px 0 0px;
}
#centered {
    text-align: center;
}

<<<<<<< HEAD











/*  about us CSS */

#about-div {
	line-height:20px;
	font-size: 14px;
	font-weight:400;
	font-family:sans-serif;
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	letter-spacing: 0em;
	
}

#about-div p {
	margin: 1em 0;	
	font-style: italic;
}

#about-div h1 {
	padding-top: 1em;
	font-weight: bold;
	font-size: 16px;
	color: #000;
	font-style: normal;
	
}

ul {
    padding-left:2em;
    margin-left:0;
}



/*  ERRORS/ 'flash' */

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


.error, .alert {
    background: none repeat scroll 0 0 #333;
    border-color: #333;
    color: #8A1F11;
}

.error, .alert, .notice, .success, .info {
    border: 2px solid #DDDDDD;
    margin-bottom: 1em;
    padding: 0.8em;
}


=======
#about-div p{
	padding: 10px;
	margin: 10px;
}
>>>>>>> 20be5993fdb3e0ff1542d8e02675a8d59f8f005b
