body {
	background-color: #996;
}
body,td,th {
	line-height: 14px;
}
body p {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}


a:link {
	text-decoration: none;
	color: #333;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #900;
}
a:active {
	text-decoration: none;
}



/* News Blasts */

#news-blasts {
	font: 14px Georgia, serif;
}

#news-blasts p {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}

#news-blasts p
{
	
}

#nb-headline {
	margin: 4px 0 0;
}

#nb-date {
	margin: 0 0 4px;
	color: #92CAE4;
}

#centered {
	text-align:center;
}


	#page-wrap {
		width: 1000px;
		margin: 0px auto;
		background: #996;
		padding: 9px 20px;
		position: relative;
		overflow:hidden;
	}
	
	#title {
		float:left;
	}
	
	
	
	#kara {
		margin: 0px 0px 0 8px;
	}
	
	#dir {
		top: 0px;
		right: 80px;
		margin: 0px auto;
		position: absolute;
	}
	
	
	#navChunk {
		margin: 10px 0 10px 0;
		text-align: center;
		min-width:1000px;
	}
	
	nav {
		display:block;
		margin: 0px 0 10px 0;
		text-align: center;
		min-width:1000px;
		font-family: Arial,Helvetica,sans-serif;
	}
	
	ul#menu {
		list-style:none;
		font-size:16px;
	}
	ul#menu li {
		display: inline;
		color: #000;
	}
	ul#menu li a {
		color: #333333;
	}
	ul#menu li.highlighted a {
		color: #eee;
		
	}
	ul#menu li.highlighted a:hover {
		color: #eee;
		cursor: default;
	}
	
	
#upgradeBrowser {
	width:230px;
}

#upgradeBrowser ul li{
	padding: 10px;
}

#upgradeBrowser a {
	color:blue;
}
#upgradeBrowser h1 {
	font-size:20px;
}



#partners-filter {
	background-color: #00004b;
	color:white;
	height: 85px;
	padding: 8px;
}

.hili {
	background:red;
	color:#ffdddd;
	line-height: 30px;
}

ul#pFiltersList {
	list-style:none;
	-webkit-user-select: none;
	//-khtml-user-select: none;
	-moz-user-select: none;
	//-o-user-select: none;
	//user-select: none;
	cursor:pointer;
}

ul#pFiltersList li{
	display:inline;
	padding:5px;
	line-height: 30px;

}
ul#pFiltersList li:hover{
	cursor:pointer;
}

.hilite {
	border: solid 3px;
	border-color: black;
}

.pbox {
	margin: 0 0 9px;
	
}	

#partners-wrap { display: block; width: 281px; margin: 0; }  /*height + padding <= 69 to fit 8pics... plus padding */

/* style="position:relative; margin-left:auto; margin-right:auto; left:15px; top:90px;" */

#center-wrap {
	margin: 0 120px 0 300px;
}

#flashbox {
	padding-top: 24px;
}

#footer-div {
	text-align: center;
}

#spacer {
	width:1000px; clear:both;
}

#lovely-description {
	width: 560px;
	padding-top:10px;
	padding-left:10px;
	font: 14px Georgia, serif;
}

#lovely-description p {
	font-family: 'sans serif';
	font-style: bold;
	font-size: large;
	color:DarkBlue;
	text-indent:45px;
}

#boldinate {
	font-weight:normal;
	color:#00007F;
}

#right-wrap {
	float: right;
	width: 130px;
}

#banner-bottom {
	margin:auto;
	width: 40%;
}








/*  about us CSS */

#about-div {
	line-height:20px;
	font-size: 14px;
	font-weight:400;
	font-family:sans-serif;
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	letter-spacing: 0em;
	
}

#about-div p {
	margin: 1em 0;	
	font-style: italic;
}

#about-div h1 {
	padding-top: 1em;
	font-weight: bold;
	font-size: 16px;
	color: #000;
	font-style: normal;
	
}

ul {
    padding-left:2em;
    margin-left:0;
}



/*  ERRORS/ 'flash' */

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


.error, .alert {
    background: none repeat scroll 0 0 #333;
    border-color: #333;
    color: #8A1F11;
}

.error, .alert, .notice, .success, .info {
    border: 2px solid #DDDDDD;
    margin-bottom: 1em;
    padding: 0.8em;
}