body {
	background-color: #996;
}
body,td,th {
	line-height: 14px;
}
body p {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}


a:link {
	text-decoration: none;
	color: #333;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #900;
}
a:active {
	text-decoration: none;
}



/* News Blasts */

#news-blasts {
	font: 14px Georgia, serif;
}

#news-blasts p {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}

#news-blasts p
{
	
}

#nb-headline {
	margin: 4px 0 0;
}

#nb-date {
	margin: 0 0 4px;
	color: #92CAE4;
}

#centered {
	text-align:center;
}


	#page-wrap {
		width: 1000px;
		margin: 0px auto;
		background: #996;
		padding: 9px 20px;
		position: relative;
		overflow:hidden;
	}
	
	#title {
		float:left;
	}
	
	
	
	#kara {
		margin: 0px 0px 0 8px;
	}
	
	#dir {
		top: 0px;
		right: 80px;
		margin: 0px auto;
		position: absolute;
	}
	
	
	#navChunk {
		margin: 10px 0 10px 0;
		text-align: center;
		min-width:1000px;
	}
	
	nav {
		display:block;
		margin: 0px 0 10px 0;
		text-align: center;
		min-width:1000px;
		font-family: Arial,Helvetica,sans-serif;
	}
	
	ul#menu {
		list-style:none;
		font-size:16px;
	}
	ul#menu li {
		display: inline;
		color: #000;
	}
	ul#menu li a {
		color: #333333;
	}
	ul#menu li.highlighted a {
		color: #eee;
		
	}
	ul#menu li.highlighted a:hover {
		color: #eee;
		cursor: default;
	}
	
	
#upgradeBrowser {
	width:230px;
}

#upgradeBrowser ul li{
	padding: 10px;
}

#upgradeBrowser a {
	color:blue;
}
#upgradeBrowser h1 {
	font-size:20px;
}



#partners-filter {
	background-color: #00004b;
	color:white;
	height: 85px;
	padding-left: 8px;
	padding-top:4px;
}

.hili {
	background:#cf0035;
	color:#ffdddd;
	line-height: 30px;
}

ul#pFiltersList {
	list-style:none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor:pointer;
}

ul#pFiltersList li{
	display:inline;
	padding:5px;
	line-height: 30px;

}
ul#pFiltersList li:hover{
	cursor:pointer;
}

.hilite {
	border: solid 3px;
	border-color: black;
}




/* style="position:relative; margin-left:auto; margin-right:auto; left:15px; top:90px;" */


#flashbox {
	padding-top: 24px;
}

#footer-div {
	text-align: center;
}

#spacer {
	width:1000px; clear:both;
}



#boldinate {
	font-weight:normal;
	color:#00007F;
}



#banner-bottom {
	margin:auto;
	width: 40%;
}







