
	* { margin: 0; padding: 0; }
	body { font: 14px Georgia, serif; }

	article, aside, figure, footer, header, hgroup,
	menu, nav, section { display: block; }
	
	#partners-wrap { display: block; width: 281px; margin: 100px 0 0 20px; }  /*height + padding <= 69 to fit 8pics... plus padding */
	
	.slide-up-boxes {
		display:block;
		height: 408px;
		overflow:hidden;
	}
	
	
	
	.slide-up-boxes div {
		margin: 0 0 9px 0;
	}
	
	.slide-up-boxes a {
		display: block;
		background: #e33;
		border: 1px solid #ccc;
		height: 57px;
		//margin: 0 0 9px 0;
		overflow: hidden;
	}
	
	
	
	.slide-up-boxes #top  {
		height: 57px;
		text-align: center;
		line-height: 57px;
		
		-webkit-transition: margin-top 0.2s linear;
		-moz-transition: margin-top 0.2s linear;
		-o-transition: margin-top 0.2s linear;
	}
	
	.slide-up-boxes a:hover #top {
		//margin-top: -57px;
		margin-top: -66px;         // this changes when I take the margin out of slide-up-boxes a and put it in div
	}
	
	.slide-up-boxes #bottom{
		height: 57px;
		padding: 0px;
		opacity: 0;
		
		-webkit-transition: all 0.3s linear;
		-webkit-transform: rotate(6deg);
		-moz-transition: all 0.3s linear;
		-moz-transform: rotate(6deg);
		-o-transition: all 0.3s linear;
		-o-transform: rotate(6deg);	
	}
	
	.slide-up-boxes a:hover #bottom {
		opacity: 1;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
	}
	
	
	.slide-up-boxes div a#ben #top       { background: #c73b1b url(/images/partners-slideup/ben-slideup-mockup.jpg) no-repeat top center; background-size: 281px 120px ; }
	.slide-up-boxes div a#ben #bottom { background: #c73b1b url(/images/partners-slideup/ben-slideup-mockup.jpg) no-repeat bottom center; background-size: 281px 120px ; }
	
	.slide-up-boxes div a#hun #top       { background: #c73b1b url(/images/partners-slideup/hunt-slideup.jpg) no-repeat top center; background-size: 281px 120px ; }
	.slide-up-boxes div a#hun #bottom { background: #367db2 url(/images/partners-slideup/hunt-slideup.jpg) no-repeat bottom center; background-size: 281px 120px ; }
	
	.slide-up-boxes div a#cam #top       { background: #c73b1b url(/images/partners-slideup/partners-cambria.png) no-repeat top center; background-size: 281px 120px ; }
	.slide-up-boxes div a#cam #bottom { background: #393838 url(/images/partners-slideup/partners-cambria.png) no-repeat bottom center; background-size: 281px 120px ; }

	.slide-up-boxes div a#fin #top       { background: #c73b1b url(/images/partners-slideup/partners-finepaints.png) no-repeat top center; background-size: 281px 120px ; }
	.slide-up-boxes div a#fin #bottom { background: #393838 url(/images/partners-slideup/partners-finepaints.png) no-repeat bottom center; background-size: 281px 120px ; }
	
	.slide-up-boxes div a#sil #top       { background: #c73b1b url(/images/partners-slideup/partners-silestone.png) no-repeat top center; background-size: 281px 120px ; }
	.slide-up-boxes div a#sil #bottom { background: #393838 url(/images/partners-slideup/partners-silestone.png) no-repeat bottom center; background-size: 281px 120px ; }
	
	.slide-up-boxes div a#mag #top       { background: #c73b1b url(/images/partners-slideup/partners-magnus.png) no-repeat top center; background-size: 281px 120px ; }
	.slide-up-boxes div a#mag #bottom { background: #393838 url(/images/partners-slideup/partners-magnus.png) no-repeat bottom center; background-size: 281px 120px ; }
	
	.slide-up-boxes div a# #top       { background: #c73b1b url(/images/partners-slideup/ben-slideup-mockupz.jpg) no-repeat top center; background-size: 281px 120px ; }
	.slide-up-boxes div a# #bottom { background: #393838 url(/images/partners-slideup/ben-slideup-mockupz.jpg) no-repeat bottom center; background-size: 281px 120px ; }
	
	.slide-up-boxes div a# #top       { background: #c73b1b url(/images/partners-slideup/ben-slideup-mockupz.jpg) no-repeat top center; background-size: 281px 120px ; }
	.slide-up-boxes div a# #bottom { background: #393838 url(/images/partners-slideup/ben-slideup-mockupz.jpg) no-repeat bottom center; background-size: 281px 120px ; }
	
	#partners-header {
		text-align: center; 
		color: green;
	}
	
