<% user_agent = client_browser_name %>

<% if user_agent == "ie8" or user_agent == "ie7" %>
	
		<h2 id="partners-header">Product Suppliers</h2>
			<div class="slide-up-boxes" style="padding-bottom:9px;width:295px;">
				<div id="ben" class="pbox"  style="width: 281px;height: 60px;overflow: hidden;" tag="paint">
					<img src="/images/partners-slideup/ben-slideup-mockup.jpg" width="281" height="126" alt="Benjamin Moore"/>
				</div>
				
				<div id="hun" class="pbox"  style="width: 281px;height: 60px;overflow: hidden;" tag="window treatments">
					<img src="/images/partners-slideup/hunt-slideup.jpg" width="281" height="126" alt="Hunter Douglas"/>
				</div>
				
				<div id="cam" class="pbox"  style="width: 281px;height: 60px;overflow: hidden;" tag="counter tops">
					<img src="/images/partners-slideup/partners-cambria.png" width="281" height="126" alt="Benjamin Moore"/>
				</div>
				
				<div id="fin" class="pbox"  style="width: 281px;height: 60px;overflow: hidden;" tag="paint">
					<img src="/images/partners-slideup/partners-finepaints.png" width="281" height="126" alt="Benjamin Moore"/>
				</div>
				
				<div id="sil" class="pbox"  style="width: 281px;height: 60px;overflow: hidden;" tag="tile">
					<img src="/images/partners-slideup/partners-silestone.png" width="281" height="126" alt="Benjamin Moore"/>
				</div>
				
				
				<div id="mag" class="pbox"  style="width: 281px;height: 60px;overflow: hidden;" tag="wood floor">
					<img src="/images/partners-slideup/partners-magnus.png" width="281" height="126" alt="Benjamin Moore"/>
				</div>
		
		


	</div>
		
<!--
	<div id="upgradeBrowser">
		<h1> Old Browser Detected </h1>
		<p>This is not an advertisement.  We (xpd) have detected that you are using <%= user_agent %> which does not support all the features that contemporary websites are designed for.  
		   Have you considered updating your browser?  Below is a list of modern browsers which may enhance your online shopping experience.</p>  
		<p style="padding-top:5px;"> --IT@excelsiorcarpetone.com</p>
		<ul>
			<li><a href="http://www.google.com/chrome/">Chrome</a> - Easiest setup</li>
			<li><a href="http://www.mozilla.com/en-US/firefox/fx/">Fire Fox</a> - Most extendable</li>
			<li><a href="http://www.microsoft.com/IE9">IE 9</a> - Most integrated (but more tedious to upgrade to and less feature rich)</li>
		</ul>
	</div>
-->

<% else %>



	<h2 id="partners-header">Product Suppliers</h2>
	<section class="slide-up-boxes">
		
		<div class="pbox">
			<a id="ben" href="#http://www.benjaminmoore.com/en-us/for-your-home/benjamin-moore-us-product-catalog" tag="paint">
				<div id="top" alt="Benjamin Moore"></div>
				<div id="bottom" alt="These guys do paint"></div>
			</a>
		</div>
		
		
		<div class="pbox">
			<a id="hun" href="#http://www.hunterdouglas.com/pdf/We_Make_Green_Beautiful.pdf" tag="window treatments">
				<div id="top" alt="Hunter Douglas"></div>
				<div id="bottom" alt="Blinds, etc."></div>	
			</a>
		</div>
		
		<div class="pbox">
			<a id="cam" href="#" tag="counter tops">
				<div id="top" alt="Cambria"></div>
				<div id="bottom" alt="Luxiury counter tops"></div>	
			</a>
		</div>
			
	
		<div class="pbox">
			<a id="fin" href="#" tag="paint">
				<div id="top" alt="Fine Paints of Europe"></div>
				<div id="bottom" alt="These guys do fine paint"></div>	
			</a>
		</div>
	
		<div class="pbox">	
			<a id="sil" href="#" tag="tile">
				<div id="top" alt="Silestone"></div>
				<div id="bottom" alt="Tile"></div>	
			</a>
		</div>
			
			
		<div class="pbox">
			<a id="mag" href="#" tag="wood floor">
				<div id="top" alt="Magnus Anderson"></div>
				<div id="bottom" alt="Wood floors"></div>
			</a>
		</div>
<!--			
		<a href="#">
			<div id="top" alt="DuPont Corian"></div>
			<div id="bottom" alt="Quartz Tile and Countertop"></div>	
		</a>
		
		
		<a href="http://www.hunterdouglas.com/pdf/We_Make_Green_Beautiful.pdf">
			<div id="top" alt="Graham Paint"></div>
			<div id="bottom" alt="These guys do paint"></div>
		</a>
		
		
		<a href="#">
			<div id="top" alt="Graham Paint"></div>
			<div id="bottom" alt="These guys do paint"></div>
		</a>
-->
	</section>
	
<% end %>



<script>

	function changeParagraph(element,cont)
	{
		if (element.hasClass("hilite")) {return;}
	      
	      // Change the lovely paragraph to be about benjamin moore
	      $(".pbox").removeClass("hilite");   
	      
	      
	      if (element.hasClass('pbox'))    // ie
	      {
	      	element.addClass("hilite");    
	      }
	      else                             // good browsers
	      {
	      	element.parent().addClass("hilite");
	      }
	      
	      
	      $("#lovely-description").slideUp('slow',
	      	function (){
	      		$("#lovely-description p").replaceWith("<p>" + cont + "</p>");
	      		$("#lovely-description").slideDown();
	      });
	}
	

    $("#ben").click(function () {
      var content = "Benjamin Moore is the premier paint manufacturer in the USA.  They offer progressive zero VOC paints, as well as high performance paints you would expect from a paint manufacturer.  We have 3 color displays to shop from as well as a multitude of fan decks completing the Benjamin Moore collection.";
      
      changeParagraph($(this),content);
    });
     
    $("#ben").dblclick(function () { 
	  // spawn pdf download
    });
    
    $("#hun").click(function () { 
      var content = "Hunter Douglas is a manufacturer of quality window treatments such as blinds, shutters, etc.";
      
      changeParagraph($(this),content);
    });

    
    $("#cam").click(function () { 
      var content = "Cambria is a great stone surface manufacturer.  They are partnered with Benjamin moore and offer professionally coordinated pain-countertop combinations.";
      
      changeParagraph($(this),content);
    });
    

    $("#fin").click(function () { 
      var content = "Fine Paints of Europe are the highest grade paint we offer.  If you're working on a project and need the absolute highest grade materials possible, you need look no further.  Give us a call or stop in to see us about this paint.  With this paint, we offer deliveries.";
      
      changeParagraph($(this),content);
    });

    
    
    $("#sil").click(function () { 
      var content = "Silestone is another of the great countertop and tile manufacturers we supply from.  We keep several Silestone displays on floor two.";
      
      changeParagraph($(this),content);
    });
    

    
    $("#mag").click(function () { 
      var content = "We are proud to be the owners of a Magnus Anderson dustless floor resurfacing unit.  DUSTLESS!  This no hassle solutions is the perfect thing for a quick, woodfloor resurfacing.";
      
      changeParagraph($(this),content);
    });
</script>
