<div id="news-blast" style="text-align:center; border-width:thin; border-style:solid; ">
	<div id="nb-title"><p><b>NEWS BLAST</b></p> </div>
	<div id="nb-date"><p style="display:block; text-align:center; margin:auto;">- July 19 -</p> </div>
	<p><%=@newsblast.html_safe %></p>
	
</div>