<div id="news-blast" style="text-align:center; border-width:thin; border-style:solid; ">
	<div id="nb-title"><p><b>NEWS BLAST</b></p> </div>
	<div id="nb-headline">Crazy Days a Hit</div>
	<div id="nb-date"><b>- July 19 -</b> </div>
	<%= render :partial => 'shared/news_blast_item', :collection => @news_blast_items, :spacer_template => 'shared/spacer_part' %>  <%# auto iterates since you specify a collection, and puts in spacer between each element%>
</div>