
			<h2 id="partners-header">Product Suppliers</h2>
			<section class="slide-up-boxes">
				
				<a href="http://www.benjaminmoore.com/en-us/for-your-home/benjamin-moore-us-product-catalog" target="_blank">
					<div id="top" alt="Benjamin Moore"></div>
					<div id="bottom" alt="These guys do paint"></div>
				</a>
				
				<a href="http://www.hunterdouglas.com/pdf/We_Make_Green_Beautiful.pdf">
					<div id="top" alt="Graham Paint"></div>
					<div id="bottom" alt="These guys do paint"></div>
				</a>
				
				<a href="#">
					<div id="top" alt="Fine Paints of Europe"></div>
					<div id="bottom" alt="These guys do fine paint"></div>	
				</a>
				
				<a href="#http://www.hunterdouglas.com/pdf/We_Make_Green_Beautiful.pdf">
					<div id="top" alt="Hunter Douglas"></div>
					<div id="bottom" alt="Blinds, etc."></div>	
				</a>
				
				<a href="#">
					<div id="top" alt="Magnus Anderson"></div>
					<div id="bottom" alt="Wood floors"></div>	
				</a>
				
				<a href="#">
					<div id="top" alt="Silestone"></div>
					<div id="bottom" alt="Tile"></div>	
				</a>
				
				<a href="#">
					<div id="top" alt="DuPont Corian"></div>
					<div id="bottom" alt="Quartz Tile and Countertop"></div>	
				</a>
				
				<a href="#">
					<div id="top" alt="Cambria"></div>
					<div id="bottom" alt="Luxiury counter tops"></div>	
				</a>
				
			</section>