<div id="about-div">
	<h1>Products and services include:</h1> 
	
	<p>FLOORING</p> 
	<ul> 
	  <li>Carpet</li> 
	  <li>TIle for floors and wall</li> 
	  <li>Solid wood</li> 
	  <li>Engineered wood</li> 
	  <li>Laminate</li> 
	  <li>Vinyl</li> 
	  <li>Magnus Anderson Dustless Sanding for wood floors </li> 
	</ul> 
	<p>WINDOW TREATMENTS</p> 
	<ul> 
	  <li>Hunter Douglas blinds</li> 
	  <li>Custom window treatments</li> 
	</ul> 
	<p>CABINETRY</p> 
	<ul> 
	  <li>Semi-custom cabinets </li> 
	  <li>Custom cabinets</li> 
	</ul> 
	<p>COUNTERTOPS</p> 
	<ul> 
	  <li>Granite</li> 
	  <li>Cambria countertops </li> 
	</ul> 
	<p>PAINT 
	</p> 
	<ul> 
	  <li>Benjamin Moore</li> 
	  <li>Fine Paint of Europe</li> 
	  <li>Graham</li> 
	</ul> 
	<p>and design services to tie your selections together, making your house your home.</p> 
</div>
