<div id="about-div">
	<h1><em>
		History
	</em></h1> 
	
	<h1>Offering more than just paint.</h1> 
	<p>Mr. Stans had a dream to open his own store on Water Street in downtown Excelsior selling paint, stain and wallpaper. He called his establishment  "The Color Center" and began serving the first of  three generations of clients.</span></p> 
	
	<p>The Color Center moved down the block to aquire more space in order to offer tile, carpet and dustless sanding. In 2006 needing even more space to showcase its ever increasing offerings, the store  moved to its current location, 701 Highway 7.</span></p> 
	
	<p>In August  2010, Carolyn Manhatton became the current owner. Now the establishment is called Excelsior   Paint & Design. When asked about the amount of moving in the company's history Carolyn says,&quot;The only place we are moving is up, meaning that we are focusing on our showrooms upstairs. We are lucky to have that space. . . there is a constant rotation of products both upstairs and downstairs.&quot;</span></p> 
	<p> Carolyn and her staff strive to maintain a level of quality and personal service that sets Excelsior Paint & Design apart.</span></p> 
	
	<%= render 'pages/products_offered'%>
</div>
