<div id="page-wrap">
<div id="about-div">
	<h1><span class="niceHead"><em>
		History
	</em></span></h1> 
	
	<h1><span class="niceHead">Offering more than just paint.</span></h1> 
	<p><span class="niceBody">Mr. Stans had a dream to open his own store on Water Street in downtown Excelsior selling paint, stain and wallpaper. He called his establishment  "The Color Center" and began serving the first of  three generations of clients.</span></p> 
	
	<p><span class="niceBody">The Color Center moved down the block to aquire more space to offer tile, carpet and dustless sanding. In 2006, needing even more to space, to showcase its ever increasing offerings, the store  moved to its current location, 701 Highway 7.</span></p> 
	
	<p><span class="niceBody">In August  2010, Carolyn Manhatton became the current owner. Now the establishment is called Excelsior   Paint and Design Center. When asked about the amount of moving in the company's history Carolyn says,&quot;The only place we are moving is up, meaning that we are focusing on our showrooms upstairs. We are lucky to have that space. . . there is a constant rotation of products both upstairs and downstairs.&quot;</span></p> 
	<p><span class="niceBody"> Carolyn and her staff strive to maintain a level of quality and personal service that sets the Paint and Design Center apart.</span></p> 
	
	<h1>Products and services include:</h1> 
	<p><span class="niceBody"><span class="niceBody">FLOORING</span></span></p> 
	<ul> 
	  <li><span class="niceBody">Carpet</span></li> 
	  <li><span class="niceBody">TIle for floors and wall</span></li> 
	  <li><span class="niceBody">Solid wood</span></li> 
	  <li><span class="niceBody">Engineered wood</span></li> 
	  <li><span class="niceBody">Laminate</span></li> 
	  <li><span class="niceBody">Vinyl</span></li> 
	  <li><span class="niceBody">Magnus Anderson Dustless Sanding for wood floors </span></li> 
	</ul> 
	<p><span class="niceBody">WINDOW TREATMENTS</span><span class="niceBody"><br /> 
	</span></p> 
	<ul> 
	  <li><span class="niceBody">Hunter Douglas blinds</span></li> 
	  <li><span class="niceBody">Custom window treatments</span></li> 
	</ul> 
	<p class="niceBody">CABINETRY</p> 
	<ul> 
	  <li><span class="niceBody">Semi-custom cabinets </span></li> 
	  <li class="niceBody">Custom cabinets</li> 
	</ul> 
	<p><span class="niceBody">COUNTERTOPS</span></p> 
	<ul> 
	  <li><span class="niceBody">Granite</span></li> 
	  <li><span class="niceBody">Cambria countertops </span></li> 
	</ul> 
	<p><span class="niceBody">PAINT</span> 
	</p> 
	<ul> 
	  <li class="niceBody">Benjamin Moore</li> 
	  <li class="niceBody">Fine Paint of Europe</li> 
	  <li class="niceBody">Graham</li> 
	</ul> 
	<p><span class="niceBody">and design services to tie your selections together, making your house your home</span>.</p> 
</div>
</div>