<div id="home">
	<h1 id="headerQ">What are you shopping for today?</h1>
	
	<!-- SECTION WHERE YOU DEFINE THE MENU ITEMS FOR THE GRID -->
	<ul id="menu-filters">
		<li id="mnu-flooring" class='hl'><a onclick="showSubmenu($(this).parent().attr('id').substring(4))">Flooring</a></li>
	    <span class=separater>|<span>
	
	
		<li id="mnu-paint"><a onclick="showSubmenu($(this).parent().attr('id').substring(4))">Paint</a></li>                            
	    <span class=separater>|<span>
	    
	    <li id="mnu-stain"><a onclick="showSubmenu($(this).parent().attr('id').substring(4))">Stain</a></li>
	    <span class=separater>|<span>
	    
		<li id="mnu-wallpaper"><a onclick="showSubmenu($(this).parent().attr('id').substring(4))">Wallpaper</a></li>
	    <span class=separater>|<span>
	    
		<li id="mnu-windows"><a onclick="showSubmenu($(this).parent().attr('id').substring(4))">Window Treatments</a></li>
	    <span class=separater>|<span>
	    
		<li id="mnu-upholstery"><a onclick="showSubmenu($(this).parent().attr('id').substring(4))">Upholstery</a></li>
	    <span class=separater>|<span>
	    
		<li id="mnu-cabinets"><a onclick="showSubmenu($(this).parent().attr('id').substring(4))">Cabinets/Knobs</a></li>
	    <span class=separater>|<span>
	    
		<li id="mnu-countertops"><a onclick="showSubmenu($(this).parent().attr('id').substring(4))">Countertops</a></li>
	</ul>
	
	<!-- SECTION WHERE YOU DEFINE THE SUB-MENU ITEMS -->
	
	<ul id="flt-flooring" class="submenu hl">
		<li><a onclick="fltByTag($(this).html())">Carpet</a></li>
		<li><a onclick="fltByTag($(this).html())">Wood</a></li>
		<li><a onclick="fltByTag($(this).html())">Tile</a></li>
		<li><a onclick="fltByTag($(this).html())">Luxury Vinyl</a></li>
	    <li><a onclick="fltByTag($(this).html())">Sheet Vinyl</a></li>
	    <li><a onclick="fltByTag($(this).html())">Linoleum</a></li>
	</ul>
	
	<ul id="flt-paint" class="submenu">
		<li><a onclick="fltByTag($(this).html())">Paint</a></li>
	</ul>
	
	<ul id="flt-stain" class="submenu">
		<li><a onclick="fltByTag($(this).html())">Stain</a></li>
	</ul>
	
	<ul id="flt-wallpaper" class="submenu">
		<li><a onclick="fltByTag($(this).html())">Wallpaper</a></li>
	</ul>
	
	<ul id="flt-windows" class="submenu"> <!-- window treatements -->
		<li><a  onclick="fltByTag($(this).html())">Window Treatments</a></li>
	</ul>
	
	<ul id="flt-upholstery" class="submenu">
		<li><a onclick="fltByTag($(this).html())">Upholstery</a></li>
	</ul>
	
	<ul id="flt-cabinets" class="submenu">
		<li><a onclick="fltByTag($(this).html())">Cabinets</a></li>
		<li><a onclick="fltByTag($(this).html())">Knobs</a></li>
	</ul>
	
	
	<ul id="flt-countertops" class="submenu">
		<li><a onclick="fltByTag($(this).html())">Cambria</a></li>
		<li><a onclick="fltByTag($(this).html())">Zodiac</a></li>
		<li><a onclick="fltByTag($(this).html())">Silstone</a></li>
		<li><a onclick="fltByTag($(this).html())">Corian</a></li>
		<li><a onclick="fltByTag($(this).html())">Marble</a></li>
		<li><a onclick="fltByTag($(this).html())">Granite</a></li>
		<li><a onclick="fltByTag($(this).html())">Soapstone</a></li>
		<li><a onclick="fltByTag($(this).html())">Butcher Block</a></li>
		<li><a onclick="fltByTag($(this).html())">Fromica</a></li>
		<li><a onclick="fltByTag($(this).html())">Cement</a></li>
	</ul>
	
	
	<div id="right-wrap">
		<%= render 'pages/news_blasts' %>
	</div>
	
	
	
	<div id="partners-grid">
		
		<a onclick="gcScrollUp()">
			<div id="scroll-up" class="triangle triangleU"></div>
		</a>
		<div id="spacer"></div>
		
		<div id="inner-members">
			<!-- col 1 -->
			<div id="gc1" class="grid-col">           <!-- the template for these is that you need a mother div for the background color, an inner div for the image and click event-->
				                                      <!-- jQuery provides them with the click functionality.  Search for $(#ben) to find where.-->
	            
				<div id="iScroll">
					<div class="gs"><div id="ben" class="partner-grid" tag="paint"></div></div>
	                <div class="gs"><div id="fin" class="partner-grid" tag="paint"></div></div>
					<div class="gs"><div id="cabot" class="partner-grid" tag="stain"></div></div>
					<div class="gs"><div id="pratt" class="partner-grid" tag="paint"></div></div>
					<div class="gs"><div id="zar" class="partner-grid" tag="stain"></div></div>
					<div class="gs"><div id="gra" class="partner-grid" tag="paint"></div></div>
					<div class="gs"><div id="old" class="partner-grid" tag="paint"></div></div>
					<div class="gs"><div id="pen" class="partner-grid" tag="paint"></div></div>
				</div>
			</div>
			
			<!-- col 2 -->
			<div id="gc2" class="grid-col">
				<div class="gs"><div id="kra" class="partner-grid" tag="fabric"></div></div>
				<div class="gs"><div id="hun" class="partner-grid" tag="window-treatments"></div></div>
				<div class="gs"><div id="top" class="partner-grid" tag="cabinets"></div></div>
				<div class="gs"><div id="zar" class="partner-grid" tag="stain"></div></div>
			</div>
			
			<!-- col 3 -->
			<div id="gc3" class="grid-col">
				<div class="gs"><div id="kara" class="partner-grid" tag="carpet"></div></div>
				<div class="gs"><div id="sha" class="partner-grid" tag="carpet"></div></div>
				<div class="gs"><div id="old" class="partner-grid" tag="stain"></div></div>
				<div class="gs"><div id="col" class="partner-grid" tag="cabinets"></div></div>
			</div>
			
			<!-- col 4 -->
			<div id="gc4" class="grid-col">
				<div class="gs"><div id="red" class="partner-grid" tag="cabinets"></div></div>
				<div class="gs"><div id="kas" class="partner-grid" tag="fabric"></div></div>
				<div class="gs"><div id="fin" class="partner-grid" tag="paint"></div></div>
				<div class="gs"><div id="eme" class="partner-grid" tag="cabinets"></div></div>
			</div>
			
			<!-- col 5 -->
			<div id="gc5" class="grid-col">
				<div class="gs"><div id="max" class="partner-grid" tag="fabric"></div> </div>
				<div class="gs"><div id="rob" class="partner-grid" tag="fabric"></div></div>
				<div class="gs"><div id="tuf" class="partner-grid"></div></div>
				<div class="gs"><div id="old" class="partner-grid" tag="stain"></div></div>
			</div>
				
			<img id="first-lp" class="lovely-picture current-lp" src='images/rails.png'>
			
			<div id="lovely-description">
				<p></p>
			</div>
		
		</div>
		
		
	
		<div class="buttonBinder">
			<a onclick="gcScrollDown()" style="width:100px;">
				<div id="scroll-down" class="triangle triangleD"></div>
			</a>
		</div>
	
	</div>
</div>
