<div id="page-wrap" > 
	
	<!-- MAIN ROW -->
	<div id="main-content">
		
		<!-- partners -->
		<div id="partners-wrap" style="margin:0;float:left;width:281px;">        <!--  this partners-wrap div can be posissioned very precisely, all as one thing!  -->
			<%= render 'controls/partners_slideup' %>
			
			<div id="partners-filter" >
				<span id="disphead" style="color:#ffccff;"><b>
					What do you want to shop for today?
				</b></span>
				<br>
				<ul id="pFiltersList">
					<li>Paint</li>
					<li>Tile</li>  
					<li>Window Treatments</li>
					<li>Counter Tops</li>
					<li>Carpet</li>
					<li>Wood Floor</li>
				</ul>
			</div>
		</div>
		
		
		<script>
			var antiFilter = new Array(); // this array keeps track of what tags are currently being filtered
			
			function include(arr, obj)
			{
				return (indexOfM(arr, obj) != -1);
			}
			
			function indexOfM(arr, str)
			{
				for(var i=0; i<arr.length; i++){
					if(arr[i]==str){
						return i;
					}
				}
				return -1;
			}

			//antiFilter.push("ha");
			//antiFilter.splice(0,1);
			//alert(include(antiFilter,"ha"));
			//alert(antiFilter.indexOf("ha"));
			//alert(indexOfM(antiFilter, "ha"));
			//alert(antiFilter.length);
			
			
		    $("#pFiltersList li").click(function () { 
	    	  var tehTag = $(this).html().toLowerCase();
	    	  
	    	  
		      var filterStrA = 'a[tag="'+ tehTag + '"]';                  // for good browsers
		      var filterStrB = 'div[tag="' + jQuery.trim(tehTag) + '"]';  // for suck browsers
		      	
		      if ($(this).hasClass("hili"))         // DISABLE FILTER
		      {
		      	$(this).removeClass("hili");
		      	
		      	antiFilter.splice(indexOfM(antiFilter, tehTag),1);
		      	
		      	$(filterStrA).parent().hide();
		      	$(filterStrB).hide();
		      	
		      	if (antiFilter.length == 0)
		      	{
		      		$(".slide-up-boxes a").show();
		      		$(".pbox").show();
		      	}
		      }
		      else                                  // ENABLE FILTER
		      {
		      	$(this).addClass("hili");
		      	
		      	// For the first time, if the antiFilter list is empty, that means we're going to hide every element before showing the one desired...
		      	if (antiFilter.length == 0)	{
		      		$(".pbox").hide();  // both!
		      	}
		      	
		      	if (!include(antiFilter,tehTag))   // if the antiFilter doesn't have the tag, then add it, otherwise, it's weird that it already had the tag... do nothing (prevent duplications...)
		      	{
		      		antiFilter.push(tehTag);
		      	}
		      	
		      	
		      	$(filterStrA).parent().show();
		      	$(filterStrB).show();

		      	
		      }
		    });
		</script>

		
			
		
		
		<!-- right wrap -->
		<div id="right-wrap">
			<%= render 'pages/news_blasts' %>
		</div>

		
		<!-- MAIN CENTERPIECE -->
		<div id="center-wrap">
			
			<div id="flashbox">
				
				<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="560" height="350" id="FlashID" title="Excelsior Carpet One"> 
			      <param name="movie" value="/preview.swf" /> 
			      <param name="quality" value="high" /> 
			      <param name="wmode" value="opaque" /> 
			      <param name="swfversion" value="9.0.45.0" /> 
			      <!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. --> 
			      <param name="expressinstall" value="Scripts/expressInstall.swf" /> 
			      <!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. --> 
			      <!--[if !IE]>--> 
			      <object type="application/x-shockwave-flash" data="/preview.swf" width="560" height="350"> 
			        <!--<![endif]--> 
			        <param name="quality" value="high" /> 
			        <param name="wmode" value="opaque" /> 
			        <param name="swfversion" value="9.0.45.0" /> 
			        <param name="expressinstall" value="/Scripts/expressInstall.swf" /> 
			        <!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. --> 
			        <div> 
			          <h4>Content on this page requires a newer version of Adobe Flash Player.</h4> 
			          <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33" /></a></p> 
			        </div> 
			        <!--[if !IE]>--> 
			      </object> 
			      <!--<![endif]--> 
			    </object> 
			</div>
			
			<!--
			<script type="text/javascript"> 
				<!--
				swfobject.registerObject("FlashID");
				//-->
			</script> 
			
			<div id="lovely-description" class="containter">
				<p>Excelsior Paint & Design Center, a family company, is the <span id="boldinate">local choice</span> for paint and design solutions.  We make solving your design problems our duty and always earn the satisfaction of our customers.  <span id="boldinate">Stop in today,</span> and speak with one of our many <span id="boldinate">design experts!</span></p>
			</div>
		</div>
		
	</div>

</div>
