<h1>From this page, you can set users to 'employee' status</h1>
<br>
<p>Giving a user employee status, allows them to be able to see more data than regular customers can see.  </p>

<!--
When the user1.employee == nil, they are considered normal users.

But when you click Make Employee here, it will bring you to a form where you fill in their Employee settings.  
-->
<h1> Make New Employee </h1>
<br>

<%= render 'emp_form' %>

<h1> Remove Employee </h1>
User Name:<input type="text"></input><br>

<br><br>
<a href="#">Make Normal User</a>

