<script>
  $('#content').css('background', "#dad8be");
</script>



<div id="page-wrap">
	
  <tr> 
    <td><p><span class="niceBody"><span class="niceHead">Press Release</span></span></p> 
      <p>&nbsp;</p> 
      <p>&nbsp;</p> 
      <p><span class="niceBody">March 2011:</span></p> 
      <p><em>We are having a Painting Seminar and Pizza Event. This event is co-sponsored with Graham Paint.</em></p> 
      <p><em>See the invitation below for details.</em></p> 
      <p>
      	<span class="niceBody"><img src="/ExImages/news/GrahamInvite0311.jpg" width="500" height="647" alt="Graham Paint invite" /><br /> 
        </span><span class="niceSubhead"><br /> 
        </span></p> 
      <p><span class="niceSubhead"><br /> 
      <em>February 2011: </em></span></p> 
      <p><img src="/ExImages/sunSailor.jpg" width="216" height="84" alt="Sun Sailer Newspaper" /></p> 
      <p class="niceBody"><em>Sun-Sailor newspaper readers have voted us &quot;BEST&quot; in the following categories</em><br /> 
      </p> 
      <ul> 
        <li class="niceBody">BEST PAINT STORE</li> 
        <li class="niceBody">BEST FLOORING</li> 
        <li class="niceBody">BEST WINDOW COVERING</li> 
      </ul> 
      <p>&nbsp;</p> 
      <p>&nbsp;</p> 
      <p><span class="niceSubhead"><em>November 2010: Best In Show...</em></span><span class="niceBody"><br /> 
        <br /> 
    Excelsior Paint &amp; Design, in partnership with several  local businesses, participated in the 2010 Midwest Home Show Booth orchestrated by Dennis Zattera of Trinity Construction.  The booth was stunning in every way and won the Best In Show Award.  Excelsior Paint &amp; Design installed the kitchen floor and mixed the colors of the Benjamin Moore Aura paints.  &quot;We are very proud to have participated in this booth along with many other local talents.&quot; says Carolyn Manhatton of Excelsior Paint &amp; Design.</span></p></td> 
  </tr> 
  <tr> 
    <td><span class="niceBody"><img src="/ExImages/news/homeShowPic.jpg" alt="Home Show Pic" width="767" height="516" border="1" /></span></td> 
  </tr> 
  <tr> 
    <td><span class="niceBody"><span class="niceSubhead">December 2010</span><br /> 
Two good suppliers team up to bring you the look you need!<br /> 
<br /> 
Benjamin Moore &amp; Cambria have teamed up to bring you the perfect countertop and the perfect coordinating wall color.  Choose from a gorgeous palette of designer selected Benjamin Moore paint colors, each hand picked to accent and bring out the beauty of your Cambria countertops.  Take a look at this weblink:  CambriaUSA.com/benjamin-moore <br /> 
<br /> 
<br /> 
</span><span class="niceSubhead"><br /> 
October 2010</span><span class="niceBody"><br /> 
Our design team just participated in a Color Trends 2012-2013 Training where The Color Association of the United States new color trends were unvailed.  Ask us what was forcasted! </span></td> 
  </tr> 
  <tr> 
    <td>&nbsp;</td> 
  </tr> 
</div> 

