    <!-- BOTTOM ROW -->
<div id="page-wrap">
	
<!-- 	<p class="copyrightInfo"> copyright 2011 Excelsior Carpet One Paint &amp; Design Center</p>  -->	
	<div id="banner-bottom">
	<center> <script src="http://diadz.com/a/2120/8/2119.js" type="text/javascript"></script> </center>
	</div>
	
</div>

