    <!-- BOTTOM ROW -->
<div id="footer-div">
	<hr /> 
	<p class="copyrightInfo"> 2011 Excelsior Carpet One Paint &amp; Design Center</p> 
</div>

 <div id="banner-bottom">
	<script src="http://diadz.com/a/2120/8/2119.js" type="text/javascript"></script> 
</div>