<div id="page-wrap" > 
	<div id="cool-banner">
	
		<div id="banner-left">
			<!-- Title -->	
			<div id="title">
				<img src="/ExImages/ECOtrans.png" alt="ECOtrans" width="511" height="64" />
			</div>
			
		</div>
		
		<img width="151" height="64" align="left" src="/ExImages/address.png">
		
		<div>
			<img width="143" height="34" src="/ExImages/hrs.png">
			<img width="224" height="92" alt="map" src="/ExImages/map.png">
		</div>
		
		<div id="spacer" style="clear:left"> </div>
		
		
		<!-- Karastan banner top -->
		<!--
		<div id="kara">
			<a style="display:block; float:left;" href="http://excelsior-paint-and-design---carpet-one.salesreact.com/p/55-karastan-promotion" target="_blank">
			<img src="/ExImages/410x84.gif" alt="Karastan" width="410" height="84"/></a>
		</div>
		-->
		
		
		<!-- Third Col  (I cheated with this one and used absolute positioning)-->
		<!--
		<div id="dir">
			<img src="/ExImages/dirSingle.jpg" width="271" height="168" alt="map" />
		</div>
		-->

		<div id="spacer"> </div>
	</div>
</div>


		